{% extends 'shop/basic.html' %}
{% block title %} About Us {% endblock %}
{% block css %}
.body{
background-color: #c3b1d5;
}

{% endblock %}

{% block body %}
{% load static %}

<!--<img src="{% static 'shop/about-us.jpg' %}" style="height:100vh; width:100%">-->
<div class="" style="height: 100vh ; width:100%;margin-top: 10px;">
    <div class="container  d-flex flex-row flex-wrap " style="    justify-content: space-around;height: 100%;">
        <div style="display: inline-block;width: 35rem; height: 100%;">
            <img src="{% static 'shop/about_us_img1.jpg' %}" class="card-img-top" alt="..." style="height: 100%;width: 100%;">
        </div>
        <div style="display: inline-block;width: 35rem;height: 100%;padding: 10px;">
            <h1 class="mb-3 h2">Shoptop</h1>
            <p>
                Shoptop is the ultimate destination for industry insiders and shoe lovers alike. From power players to style stars, FN draws on seventy years of history to offer a feet first look at what’s new and what’s next in shoes. The site is your first-stop for shoe news globally. Breaking the latest stories, offering expert analysis and on-trend seasonal coverage, FN is connecting readers to the topics that matter most. Led by an informed team of journalists, the site filters the way we look at footwear. With an eye for what’s next, the newsroom sets the tone feet first.

            </p>
            <p>
                Shoptop is the ultimate destination for industry insiders and shoe lovers alike. From power players to style stars, FN draws on seventy years of history to offer a feet first look at what’s new and what’s next in shoes. The site is your first-stop for shoe news globally. Breaking the latest stories, offering expert analysis and on-trend seasonal coverage, FN is connecting readers to the topics that matter most. Led by an informed team of journalists, the site filters the way we look at footwear. With an eye for what’s next, the newsroom sets the tone feet first.

            </p>
            <p>
                Shoptop is the ultimate destination for industry insiders and shoe lovers alike. From power players to style stars, FN draws on seventy years of history to offer a feet first look at what’s new and what’s next in shoes. The site is your first-stop for shoe news globally. Breaking the latest stories, offering expert analysis and on-trend seasonal coverage, FN is connecting readers to the topics that matter most. Led by an informed team of journalists, the site filters the way we look at footwear. With an eye for what’s next, the newsroom sets the tone feet first.

            </p>

        </div>
    </div>
</div>
{% endblock %}